html {
    margin: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#ViewContainer {
    display:               grid;
    grid-template-columns: 1fr 7fr;
}

#ProfileContainer {
    margin-left:    1vw;
    display:        flex;
    flex-direction: column;
}

#GroupLabel {
    text-align: center;
}

#GroupsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2vw;
}

#GroupNames {
    justify-self: center;
}

.tickets-view {
    display: flex;
    flex-grow: 1;
}

.tickets-view .ticket-details p {
    font-size: 24px;
    margin: 0px;
}

.tickets-view .ticket-updates {
    padding: auto;
    align-self: flex-start;
}

.tickets-view .ticket-updates table {
    font-size: 24px;
}

.tickets-view .ticket-table {
    margin-left: auto;
    padding-right: 2%;
}

.tickets-view .ticket-table table {
    font-size: 24px;
}

.tickets-view .ticket-table table button {
    padding: 4px;
    margin-left: 10px;
}

.submit-view {
    display: flex;
    flex-direction: column;
}

.flex-container {
    display: flex;
}
